
<mat-sidenav-container class="example-container">
<!--  <mat-sidenav *ngIf="!isOnlyConsumer()"  #sidenav mode="side" position="end" [(opened)]="opened"  >-->
<!--    <div class="md-toolbar-tools">-->
<!--      <div class="wraper-v" style="min-width:20vw">-->
<!--        <mat-list >-->
<!--          <mat-list-item *ngFor="let peer of producerPeers | keyvalue" >-->
<!--            {{peer.key}}-->
<!--            <button mat-icon-button #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="menu" class="more-button">-->
<!--              <mat-icon>more_vert</mat-icon>-->
<!--            </button>-->
<!--            <mat-menu #menu="matMenu" >-->
<!--              <button  mat-menu-item (click)="globalAudioToggle(peer.key)">-->
<!--                <mat-icon >mic_off</mat-icon>-->
<!--              </button>-->
<!--              <button  mat-menu-item (click)="globalVideoToggle(peer.key)">-->
<!--                <mat-icon>videocam_off</mat-icon>-->
<!--              </button>-->
<!--            </mat-menu>-->
<!--          </mat-list-item>-->
<!--        </mat-list>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-sidenav>-->
  <mat-sidenav-content>
    <div id="mediasoup-demo-app-container" *ngIf="isValidMeeting">
      <div data-component="Room">
        <div data-component="Notifications"></div>
        <div class="state" *ngIf="isBroadcasting">
          <div class="icon connected">
          </div>
          <p class="text connected">Broadcasting!</p>
        </div>
        <div class="room-link-wrapper">
<!--          <div class="room-link">-->
<!--            <a class="link" rel="noopener noreferrer" target="_blank" (click)="sidenav.toggle()" *ngIf="!isOnlyConsumer()">Meeting link</a>-->
<!--          </div>-->
          <div class="room-link">
            <a class="link" rel="noopener noreferrer" target="_blank" (click)="getMeetingLink()" *ngIf="!isOnlyConsumer()">Meeting link</a>
          </div>
          <div class="room-link" *ngIf="isBroadcasting">
            <a class="link" rel="noopener noreferrer" target="_blank" (click)="getBroadcastingLink()" *ngIf="!isOnlyConsumer()">Broadcasting link</a>
          </div>

        </div>
        <div data-component="Peers" *ngIf="isMeetingReady">
          <div class="peer-container" *ngFor="let peer of getConsumers() | keyvalue" >
            <div data-component="Peer" >
              <div class="indicators">
                <div [ngClass]="{'icon': true,'mic-off':true }" ></div>
                <div [ngClass]="{'icon': true,'webcam-off':true}" ></div>
              </div>
              <div data-component="PeerView">
                <div class="info">
                  <div class="icons">
                    <div [ngClass]="{'button mic': true,'on':true, 'off':false}" (click)="getMemberPeerConnection(peer.key)" *ngIf="!isOnlyConsumer()"></div>
<!--                    <div [ngClass]="{'button mic': true,'on':true, 'off':false}" (click)="globalAudioToggle(peer.key)" *ngIf="!isOnlyConsumer()"></div>-->
<!--                    <div [ngClass]="{'button webcam': true,'on':true, 'off':false}" (click)="globalVideoToggle(peer.key)" *ngIf="!isOnlyConsumer()"></div>-->
<!--                                    <div class="icon info" (click)="getConsumerState(peer.key)"></div>-->
<!--                                    <div class="icon stats"><span class="icon stats" (click)="getConsumerState(peer.key)"></span></div>-->
                  </div>
                  <div class="peer">
                    <span class="display-name">{{peer.key}}</span>
                    <div class="row">
                      <span class="device-icon edge"></span><span class="device-version"></span>
                    </div>
                  </div>
                </div>
                <video autoplay="" playsinline [id]="peer.key" [srcObject]="peer.value.remoteStream"></video>
                <audio autoplay="" playsinline  [srcObject]="peer.value.audioStream" ></audio>
                <canvas class="face-detection"></canvas>
                <div class="volume-container">
                  <div class="bar level0"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="me-container" *ngIf="!isOnlyConsumer()">
          <div data-component="Me">
            <div class="controls">
              <div [ngClass]="{'button mic': true,'on':audioEnabled, 'off':!audioEnabled}" (click)="toggleAudio()"></div>
              <div [ngClass]="{'button webcam': true,'on':videoEnabled, 'off':!videoEnabled}" (click)="toggleVideo()"></div>
              <div class="button share off" (click)="startBroadcastingSession()" ></div>
              <div class="button stats off" (click)="endBroadcastingSession()" ></div>
            </div>
            <div data-component="PeerView">
              <div class="info">
                <div class="icons">
                  <div class="icon info" (click)="printConsumers()"></div>
                  <div class="icon stats"></div>
                </div>
                <div class="peer is-me">
              <span class="display-name editable" tabindex="0">
                {{ meetingMember._id }}
              </span>
                  <div class="row">
                    <span class="device-icon chrome"></span>
                    <span class="device-version"></span>
                  </div>
                </div>
              </div>
              <video autoplay class="is-me" playsinline [srcObject]="localStream" *ngIf="videoEnabled" [volume]="0" [muted]="true"></video>
<!--              <audio autoplay playsinline muted></audio>-->
              <canvas class="face-detection is-me"></canvas>
              <div class="volume-container">
                <div class="bar level0"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--<mat-drawer-container class="example-container">-->
<!--  <mat-drawer mode="side" opened>Drawer content</mat-drawer>-->
<!--  <mat-drawer-content>-->
<!--    -->
<!--  </mat-drawer-content>-->
<!--</mat-drawer-container>-->







