
<mat-sidenav-container class="example-container">
  <mat-sidenav *ngIf="isMeetingReady && !isOnlyConsumer"  #sidenav mode="side" position="end" [(opened)]="opened"  >
    <div class="md-toolbar-tools">
      <div class="wraper-v" style="width:20vw">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">chat</mat-icon>
            </ng-template>
            <div class="messages">
              <p class="message-p"
                *ngFor="let message of messages"
                [ngClass]="{ ownMessage: message.meetingMemberId === meetingMember._id }"
                [title]="message.timestamp"
              >
                <i class="message-i">{{ message.nickname }}</i> <br/> {{ message.text }}
              </p>
            </div>
            <div class="messageInput">
              <input class="message-input" type="text" placeholder="enter a text message" #messageText />
              <button class="message-btn" (click)="sendMessage(messageText.value); messageText.value=''">
                Send
              </button>
            </div>
          </mat-tab>
          <mat-tab >
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">group</mat-icon>
            </ng-template>
            <mat-list >
              <h3 mat-subheader>Meeting Members</h3>
              <mat-divider></mat-divider>
              <div mat-subheader> Producers </div>
              <mat-list-item *ngFor="let peer of producerMeetingMembers" >
                <div mat-line>
                  <button mat-icon-button #trigger="matMenuTrigger"  [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  {{peer._id!}}
                </div>
                <mat-menu #menu="matMenu" >
<!--                  <button mat-menu-item (click)="localAudioToggle(peer._id!)" *ngIf="!isConsumer(peer)">-->
<!--                    <mat-icon >{{ peer.produceAudioEnabled ?'mic_off':'mic_on' }}</mat-icon>-->
<!--                    <span>{{ peer.produceAudioEnabled ? 'Mute Off': 'Mute On' }}</span>-->
<!--                  </button>-->
<!--                  <button  mat-menu-item (click)="localVideoToggle(peer._id!)" *ngIf="!isConsumer(peer)">-->
<!--                    <mat-icon>{{ peer.produceVideoEnabled ?'videocam_off':'videocam_on' }}</mat-icon>-->
<!--                    <span>{{ peer.produceVideoEnabled ? 'Video Off' : 'Video On' }}</span>-->
<!--                  </button>-->
                  <div mat-menu-item *ngIf="!isConsumer(peer)">
                    Volume:
                    <mat-slider min="0.1" max="1" step="0.1" [value]="peer.volume?peer.volume:1" (change)="volumeChange($event,peer._id!)" ></mat-slider>
                  </div>
                  <ng-container *ngIf="isMeetingCreator">
                    <button mat-menu-item [matMenuTriggerFor]="permissions" >
                      Permissions
                    </button>
                    <mat-menu #permissions="matMenu">
                      <section class="example-section">
                        <mat-checkbox class="example-margin" (change)="screenSharePermissionToggle(peer._id!)" [ngModel]="peer.canScreenShare">Can Screen Share</mat-checkbox>
                      </section>
                      <section class="example-section">
                        <mat-checkbox class="example-margin" (change)="globalAudioToggle(peer._id!)" [ngModel]="peer.produceAudioAllowed">Audio Enabled</mat-checkbox>
                      </section>
                      <section class="example-section">
                        <mat-checkbox class="example-margin" (change)="globalVideoToggle(peer._id!)" [ngModel]="peer.produceVideoAllowed">Video Enabled</mat-checkbox>
                      </section>
                    </mat-menu>
                  </ng-container>
                </mat-menu>

              </mat-list-item>
              <ng-container *ngIf="consumerMeetingMembers.length > 0" >
                <div mat-subheader> Viewers </div>
                <mat-list-item  *ngFor="let peer of consumerMeetingMembers" >
                  <div mat-line>
                    <button mat-icon-button #trigger="matMenuTrigger"  [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    {{peer._id!}}
                  </div>
                  <mat-menu #menu="matMenu" >
                    <button mat-menu-item (click)="localAudioToggle(peer._id!)" *ngIf="!isConsumer(peer)">
                      <mat-icon >{{ peer.produceAudioEnabled ?'mic_off':'mic_on' }}</mat-icon>
                      <span>{{ peer.produceAudioEnabled ? 'Mute Off': 'Mute On' }}</span>
                    </button>
                    <button  mat-menu-item (click)="localVideoToggle(peer._id!)" *ngIf="!isConsumer(peer)">
                      <mat-icon>{{ peer.produceVideoEnabled ?'videocam_off':'videocam_on' }}</mat-icon>
                      <span>{{ peer.produceVideoEnabled ? 'Video Off' : 'Video On' }}</span>
                    </button>
                    <div mat-menu-item *ngIf="!isConsumer(peer)">
                      Volume:
                      <mat-slider min="0.1" max="1" step="0.1" [value]="peer.volume?peer.volume:1" (change)="volumeChange($event,peer._id!)" ></mat-slider>
                    </div>
                    <button mat-menu-item [matMenuTriggerFor]="permissions">
                      <span>Permissions</span>
                    </button>
                  </mat-menu>
                  <mat-menu #permissions="matMenu">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" [(ngModel)]="peer.produceAudioAllowed">Audio Enabled</mat-checkbox>
                      <mat-checkbox class="example-margin" [(ngModel)]="peer.produceVideoAllowed">Video Enabled</mat-checkbox>
                    </section>
                    <button mat-menu-item (click)="globalAudioToggle(peer._id!)" *ngIf="isMeetingCreator && !isConsumer(peer)">
                      <mat-icon >{{ peer.produceAudioAllowed ?'mic_off':'mic_on' }}</mat-icon>
                      <span>{{ peer.produceAudioAllowed ? 'Session Mute Off' : 'Session Mute On' }}</span>
                    </button>
                    <button  mat-menu-item (click)="globalVideoToggle(peer._id!)" *ngIf="isMeetingCreator && !isConsumer(peer)">
                      <mat-icon>{{ peer.produceVideoAllowed ?'videocam_off':'videocam_on' }}</mat-icon>
                      <span>{{ peer.produceVideoAllowed ? 'Session Video Off' : 'Session Video On' }}</span>
                    </button>
                    <button  mat-menu-item (click)="globalVideoToggle(peer._id!)" *ngIf="isMeetingCreator && !isConsumer(peer)">
                      <mat-icon>{{ peer.produceVideoAllowed ?'videocam_off':'videocam_on' }}</mat-icon>
                      <span>{{ peer.produceVideoAllowed ? 'Session Video Off' : 'Session Video On' }}</span>
                    </button>
                  </mat-menu>
                </mat-list-item>
              </ng-container>

            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="mediasoup-demo-app-container" >
      <div data-component="Room" *ngIf="isMeetingReady">
        <div data-component="Notifications"></div>
        <div class="state"  *ngIf="isBroadcasting">
          <div class="icon connected">
          </div>
          <p class="text connected" >Broadcasting!</p>
        </div>
        <div class="room-link-wrapper">
          <div class="room-link">
            <a class="link" rel="noopener noreferrer" target="_blank" (click)="getMeetingLink()" *ngIf="isMeetingCreator">
              Meeting link
            </a>
          </div>
          <div class="room-link" *ngIf="isBroadcasting">
            <a class="link" rel="noopener noreferrer" target="_blank" (click)="getBroadcastingLink()" *ngIf="isMeetingCreator">
              Broadcasting link
            </a>
          </div>
        </div>
        <div data-component="Peers" >
          <ng-container *ngFor="let peer of meetingMembers | keyvalue">
            <div class="peer-container" *ngIf="!isConsumer(peer.value)">
              <div data-component="Peer" >
                <div class="indicators">
                  <div [ngClass]="{'icon': true,'mic-off':!peer.value.produceAudioEnabled || !peer.value.produceAudioAllowed }" ></div>
                  <div [ngClass]="{'icon': true,'webcam-off': !peer.value.produceVideoEnabled || !peer.value.produceVideoAllowed}" ></div>
                </div>
                <div data-component="PeerView">
                  <div class="info">
                    <div class="icons">
                      <div class="icon info" (click)="printStreams(peer.key)" *ngIf="isDevelopment"></div>
                    </div>
                    <div class="peer">
                      <span class="display-name">{{peer.value.nickname}}</span>
                      <div class="row">
                        <span class="device-icon edge"></span><span class="device-version"></span>
                      </div>
                    </div>
                  </div>
                  <video autoplay="" playsinline [id]="peer.key" [srcObject]="getMeetingMemberVideoStream(peer.key)" *ngIf="peer.value.produceVideoAllowed && peer.value.produceVideoEnabled && !peer.value.isScreenSharing" muted ></video>
                  <video autoplay="" playsinline [id]="peer.key" [srcObject]="peer.value.screenStream" *ngIf="peer.value.screenStream && peer.value.produceVideoAllowed && peer.value.isScreenSharing" muted></video>
                  <audio autoplay="" playsinline  [srcObject]="peer.value.audioStream" *ngIf="peer.value.audioStream && peer.value.produceAudioAllowed && peer.value.produceAudioEnabled" [muted]="!peer.value.produceAudioEnabled"></audio>
                  <canvas class="face-detection"></canvas>
                  <div class="volume-container">
                    <div class="bar level0"></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

        </div>
        <div class="me-container" *ngIf="!isOnlyConsumer">
          <div data-component="Me">
            <div class="controls">
              <div [ngClass]="{'button mic': true,'on':meetingMember.produceAudioEnabled, 'off':!meetingMember.produceAudioEnabled}" (click)="toggleAudio()"></div>
              <div [ngClass]="{'button webcam': true,'on':meetingMember.produceVideoEnabled, 'off':!meetingMember.produceVideoEnabled}" (click)="toggleVideo()"></div>
              <div [ngClass]="{'button share':true,'on':!!meetingMember.isScreenSharing, 'off':!meetingMember.isScreenSharing}" (click)="screenSharing()" *ngIf="meetingMember.canScreenShare" ></div>
              <div [ngClass]="{'button broadcast':true,'on':!!isBroadcasting, 'off':!isBroadcasting}" (click)="handleBroadcast()" *ngIf="isMeetingCreator"></div>
            </div>
            <div data-component="PeerView" *ngIf="meetingMember">
              <div class="info">
                <div class="icons">
                  <div class="icon info" (click)="printMeetingMembers()" *ngIf="isDevelopment"></div>
                </div>
                <div class="peer is-me">
              <span class="display-name editable" tabindex="0">
                {{ meetingMember.nickname }}
              </span>
                  <div class="row">
                    <span class="device-icon chrome"></span>
                    <span class="device-version"></span>
                  </div>
                </div>
              </div>
              <video autoplay class="is-me" playsinline [srcObject]="localStream" *ngIf="this.meetingMember.produceVideoEnabled" [volume]="0" [muted]="true"></video>
              <canvas class="face-detection is-me"></canvas>
              <div class="volume-container">
                <div class="bar" [ngClass]="'level' + audioLevel"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>








