<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()"class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name" autocomplete="off" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
            <div *ngIf="f.firstName.errors.matches">{{ f.firstName.errors.matches }}</div>
            <div *ngIf="f.firstName.errors.isLength">First Name must be longer than or equal to 2 characters</div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" autocomplete="off" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            <div *ngIf="f.lastName.errors.matches">{{ f.lastName.errors.matches }}</div>
            <div *ngIf="f.lastName.errors.isLength">Last Name must be longer than or equal to 2 characters</div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" autocomplete="off" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
            <div *ngIf="f.username.errors.minlength">Username must be at least 8 characters</div>
            <div *ngIf="f.username.errors.isLength">Username must be longer than or equal to 8 characters</div>
            <div *ngIf="f.username.errors.duplicate">Username is already registered</div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="Email" autocomplete="off" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Invalid email</div>
            <div *ngIf="f.email.errors.isEmail">Invalid email</div>
            <div *ngIf="f.email.errors.duplicate">Email is already registered</div>
          </div>
        </mat-form-field>
        <mat-form-field
          class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
            <div *ngIf="f.password.errors.isLength">Password must be at least 8 characters</div>
          </div>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Register</button>
    </form>
  </mat-card>
</div>
