<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>

      <mat-card-subtitle *ngIf="status === Status.Failed"> {{ errorMsg }} </mat-card-subtitle>
    </mat-card-header>
    <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="status !== Status.Failed">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
            <div *ngIf="f.password.errors.isLength">Password must be at least 8 characters</div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm password" type="password" formControlName="rePassword" [ngClass]="{ 'is-invalid': submitted && f.rePassword.errors }">
          <div *ngIf="submitted && f.rePassword.errors" class="invalid-feedback">
            <div *ngIf="f.rePassword.errors.required">Password is required</div>
            <div *ngIf="f.rePassword.errors.misMatch">{{ f.rePassword.errors.misMatch }}</div>
          </div>
        </mat-form-field>
      </mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button [disabled]="loading" mat-flat-button color="primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
        </button>
      </div>

    </form>
  </mat-card>

</div>
